*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.nav{
    grid-column: span 12;
    background: green;
    height: 70px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.l{
    grid-column: span10;
    height: 70px;
    width: 100px;
    background: lightblue;
    justify-content: flex-start;
}
.img1{
    display: flex;
    height: 70px;
    width: 70px;
    justify-content: flex-start;
}

.content{
    grid-column: span 12;
    background: red;
    height: 1000px;
    align-content: center;
}

.img{
    background: palevioletred;
    height: 450px;
}

.feature{
    background: darkgoldenrod;
    height: 550px;
}

.footer{
    grid-column: span 12;
    background: blue;
    height: 150px;
}

